*{
	margin: 0%;
	padding: 0%;
	font-family: 'Gotham-Book';
}

body{
	/* background-image: url('../img/pexels.jpg'); */
	/* background-attachment:fixed; 
	background-position:center center; */
	font-family: 'Fira Sans', sans-serif;
}

/* ------- NavBar Style Start ------- */
.navbar-nav-style {
	margin-left: 34vw;
}

.nav-item-style {
	margin-right: 20px;
}

.img1{
	width: 280px;
	height: 50px;
}
/* ------- NavBar Style End ------- */


/* ------- exposition Style Start ------- */
.edito{
	/* background-image: url(../img/2017_1122_Studio_Locomotifs\ 126.jpg); */
	background-color: rgba(0, 0, 0, 0.4);
	/* background-attachment: fixed; 
	background-position:center center;  */
	height: 840px;
	text-align: center;
}


h4{
	padding-top: 80px;
	padding-bottom: 20px;
	font-size: 40px;
	color: #f7c60a;
	text-align: center;
}

.dess{
	margin-top:150px;
}

.img-portfolio {
	margin-top:20px;
	width: 150px;
	display: block;
    margin-left: auto;
	margin-right: auto;
}

.texte1{
	margin-top: 55px;
	color: white;
	font-size: 18px;
}

.port{
	text-align: center;
	height: 400px;
	margin: 0 auto;
}

.img2{
	width: 300px;
}
/* ------- exposition Style End ------- */

section{
	padding-top:25px;
	padding-bottom:25px;
}